<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="${title}" > Blog of site</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
</head>
<body>
<header th:insert="blocks/header :: header"> </header>
<div style="margin-left: 100px"><br>
    Цель – показать знания и практические навыки в следующих областях:<br>
      Переменные и типы данных, а также их область видимости<br>
      Условные операторы (if, switch и т.п.)<br>
      Циклы<br>
      Работа со строками<br>
      Работа с такими структурами данных, как array, ArrayList и HashMap<br>
    Условие задания.<br>
    Необходимо реализовать приложение-библиотеку, которое реализует CRUD операции по работе<br>
    со следующими видами печатной продукции: книги, журналы, газеты и др.<br>
    Вся печатная продукция должна быть каталогизирована по: дате издания (выходу), автору(ам),<br>
    издательству(ам), и т.д.<br>
    Приложение должно состоять из трех слоев:<br>
    1.  API: Этот слой отвечает за получение/отправку запросов/ответов от пользователя,<br>
    получение запросов может быть реализовано через протокол HTTP (не обязательно, но<br>
    предпочтительно), через аргументы приложения (получаются методом main), через<br>
    вычитывание из файла, либо другим возможным способом.<br>
    PS: Ответы можно просто печатать в лог-файл или стандартную консоль вывода.<br>
    2.  Бизнес-логика: Этот слой отвечает за реализацию операций по работе с нашей<br>
    информацией (в данном случае печатной продукцией)<br>
    a.  Сохранение<br>
    b.  Изменение<br>
    c.  Получение (поиск по различным критериям: дата, автор, издание, тематика и т.д.)<br>
    d.  Удаление<br>
    3.   Хранение данных: этот слой отвечает за персистентное (постоянное, на диске) хранение<br>
    данных (либо в файле, либо в БД (не обязательно, но предпочтительно)), а также<br>
    организацию кэширования (не обязательно, но предпочтительно).<br>
    Рекомендации:<br>
      Приложение должно создаваться с использованием принципов ООП (обязательно)<br>
      При создании приложения лучше использовать SpringBootFramework (не обязательно)<br>
    o  Для работы с HTTP – SpringWebFramework<br>
    o  Для работы с БД – SpringDataJDBC<br>
    o  В качестве БД – embedded H2<br>
</div>

<footer th:insert="blocks/footer :: footer"> </footer>

</body>
</html>